.DS_Store
*.pyc
alignment_evaluation/GameOfThrones.Season01.Episode*.en.srt
alignment_evaluation/GameOfThrones.Season01.Episode*.txt
alignment_evaluation/aligned_GameOfThrones.Season01.Episode*.txt
alignment_evaluation/numbered_transcripts_GameOfThrones.Season01.Episode*.txt
alignment_evaluation/original_alignment_subtitles_transcripts_ep*.txt