.DS_Store
*.pyc
alignment_evaluation/auto_aligned/*
alignment_evaluation/bad/*
alignment_evaluation/good/*
alignment_evaluation/numbered_transcripts/*
alignment_evaluation/original_alignments/*
alignment_evaluation/transcripts/*
alignment_evaluation/subtitles/*